body{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-wrapper{
  display: flex;
}

#logo-wrapper{
  display: flex;
  flex-grow: 1;
}

#weather-wrapper {
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;

}
#weather {
  display: flex;
  justify-content: center;
}

#weather-description{
  display: flex;
  justify-content: center;
}

#location {
  display: flex;
  justify-content: center;
}

.cloudy {
  background: transparent;;
}

.card-title{
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 70px;
}